<% for(var i=0; i < users.length; i++) { %>
    <tr class="table-row-hover">
        <!-- &&(Status=="Both"||Status==users[i].Status) -->
        <td>
            <%= users[i].truckNumber %>
        </td>
        <td>
            <%= users[i].pickdate %>
        </td>
        <td>
            <%= users[i].deldate %>
        </td>
        <td>
            <%= users[i].Truck %>
        </td>
        <td>
            <%= users[i].Sender %>
        </td>
        <td>
            <%= users[i].Receiver %>
        </td>
        <td>
            <%= users[i].Status %>
        </td>
        <td>
            <%= users[i].ConsignmentNumber %>
        </td>
        <td>
            <%= users[i].Volume %>
        </td>
        
        <td>
            <a href="/update-truck?id=<%= users[i]._id %>" class="btn border-shadow update" title="Update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a href="/seetruckdetail?id=<%= users[i]._id %>" class="btn border-shadow update" title="View">
                <span class="text-gradient"><i class="fa fa-eye"></i></span>
            </a>
            <!-- <a href="/makepayment?id=<%= users[i]._id %>" class="btn border-shadow update" title="Make Payment">
                <span class="text-gradient"><i class="fa fa-money-bill"></i></span>
            </a> -->
            <!-- Uncomment the following line if you want to add a delete button -->
            
            <a href="#" class="btn border-shadow delete" data-id="<%= users[i]._id %>" title="Delete">
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
           
        </td>
    </tr>
    <% } %>